<div class="container">
  <div class="row">
    <% @shops.each do |shop| %>
      <div class="card text-dark bg-color border-dark mb-4 mr-1" style="width: 14rem;" >
        <%= link_to shop do %>
          <% if shop.image.attached? %>
            <%= image_tag shop.image.variant(resize_to_fill: [400, 400]).processed, class: "card-img" %>
          <% else %>
            <%= image_tag "no_image", class: "card-img" %>
          <% end %>
        <% end %>
        <div class="card-body">
          <div class="card-title">
            <p><b><%= shop.store_name %></b></p>
            <p class="card-text"><%= shop.caption %></p>
          </div>
        <!--<h5><%= link_to "Go Tofu »", shop, class: "" %></h5>-->
        </div>
      </div>
    <% end %>
  </div>
</div>

