<div class="card">
<%= image_tag @shop.image.variant(resize_to_fill: [500, 500]).processed, class: "" %>

<p>店舗名：<%= @shop.store_name %></p>

<p>住所：<%= @shop.address %></p>

<p>電話番号：<%= @shop.phone_number %></p>

<p>営業時間：<%= @shop.open_hour %></p>


<iframe src=<%= @shop.map_url %> width="600" height="450" frameborder="0" style="border:0;" alloΩΩwfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>