<div class="card">

<%= image_tag @shop.image.variant(resize_to_fill: [500, 500]).processed, class: "" %>

<p>店舗名：<%= @shop.store_name %></p>

<p>住所：<%= @shop.address %></p>

<p>電話番号：<%= @shop.phone_number %></p>

<p>営業時間：<%= @shop.open_hour %></p>

<iframe src=<%= @shop.map_url %> width="600" height="450" frameborder="0" style="border:0;" alloΩΩwfullscreen="" aria-hidden="false" tabindex="0"></iframe>

  <p>
    <%= link_to "編集", edit_shop_path(@shop), class: "btn btn-block btn-primary" %>
  </p>
  <p>
    <%= button_tag "削除", class: "btn btn-block btn-warning", data: { toggle: "modal", target: "#delete-shop" } %>
  </p>
</div>

<div class="modal fade" id="delete-shop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">投稿削除</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><%= image_tag @shop.image.variant(resize_to_fill: [800, 800]).processed, class: "img-fluid" %></p>
        <p><%= "投稿を削除しますか？" %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
        <%= link_to "削除", shop_path(@shop), method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>